@font-face {
  font-family: twilight;
  src: url(Twilight.ttf);
}
*{
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: twilight, serif ;
  font-size: 1.25rem;
}
body{
  background-size:cover;
  background-repeat: no-repeat;
  background-image: url("background.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
@media only screen and (min-width: 1500px) {
  body{
    background-position: 0%;
  }
}
@media only screen and (max-width: 740px) {
  body{
    background-size: auto 100vh;
  }
}
#main_form, #finalStory, #disclaimer{
  width: 80%;
  background-color: rgba(160, 160, 160, 0.6);
  margin:10px;
}
#storyStart{
  width: 75%;
  margin: 10px;
  text-align: justify;
  padding: 10px;
}
input{
  padding: 2px;
}
h1{
  color: whitesmoke;
  font-size: 3rem;
}